.container {
  width: 100%;
  background-color: #b8aaaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  color: #eeeeee;
    
 
}
.footerFix{
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  
  

}

.footer {
  border-bottom: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footerLeft {
  flex: 1;
}
.footerRight {
  display: flex;
  flex: 3;
  justify-content: space-around;
}
.footerRight div p {
  font-weight: 200;
}

.img {
  position: relative !important;
  object-fit: contain;
}
.footerRight h3 {
  font-weight: 400;
}
.footerRight p {
  padding: 6px;
  font-weight: 300;
}

.connect {
  display: flex;
  align-items: center;
  padding: 6px;
  gap: 5px;
}
.connect:hover {
  cursor: pointer;
}

.licence {
  padding: 4px;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
